.submit
  %form{:action=>"/", :method=>"post"}
    %textarea{:name=>"title", :rows=>"1", :cols=>"100"}
    %textarea{:name=>"url", :rows=>"1", :cols=>"100"}
    %input{:type=>"submit", :value=>"Tweet this!"}